PORT=7000
MONGODB_URL=mongodb+srv://databaseuser:JgccF2QbFM5ARrf0@cluster0.kzppzij.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chaiorcode
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=coffeoftower
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_NAME=000000
CLOUDINARY_API_KEY=000000000
CLOUDINARY_API_SECRET=00000000000000